/* **************************************************** */
/*                        AGList                        */
/* **************************************************** */

.ag-list {
	margin: 0;
}
.ag-list > .list-group-item {
    padding: 20px;
    cursor: pointer;
    border: 1px solid #ebeef0;
}
.ag-list > .list-group-item.active,
.ag-list > .list-group-item.active:focus,
.ag-list > .list-group-item.active:hover {
    z-index: 2;
    color: #534b4b;
    background-color: #ebeef0;
    border: 1px solid #d6e2ea;
}
.ag-list .item-icon > i {
    font-size: 30px;
    color: rgb(80, 109, 165);
}
.ag-list .item-body {
    margin-left: 50px;
}
.ag-list .item-body > p {
    color: rgb(96, 101, 105);
	line-height: 1.5em;
	margin: 0;
}
.ag-list .item-body > p:not(:last-child) {
    margin-bottom: 20px;
}
.ag-list .item-body > select {
    /*margin-top: 10px;*/
}
.ag-list .item-heading {
    display: inline-block;
    width: 100%;
    color: #405668;
    margin-bottom: 1em;
}
.ag-list .item-price {
    text-align: right;
}
.ag-list .item-price .amount {
    margin: 0 0 4px 0;
    font-weight: 600;
}
.ag-list .item-price .amount-old {
    text-decoration: line-through;
    color: #f37e7e;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 0 4px 0;
}
.ag-list .item-price .duration {
    font-weight: 200;
    font-size: 90%;
}

/* **************************************************** */
/*                   Process wizard                     */
/* **************************************************** */

#process-wizard {
/*    
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
*/	
}
#process-wizard .icons-list > li {
    padding-left: 50px;
}
#process-wizard .icons-list > li > i {
    color: #b3b3b3;
    font-size: 1.5em;
}
#process-wizard .wizard-page .command-buttons {
    margin: 2em 0;
}
.wizard-page-content > p {
    margin: 1em 0 2em 0;
}
#process-wizard .card-details {
}

/* **************************************************** */
/*                    Parsley errors                    */
/* **************************************************** */

.parsley-form .form-group {
  position: relative;
}
.parsley-form .form-group .parsley-success .parsley-errors-list {
  display: none !important;
}
.parsley-form .form-group .parsley-errors-list {
  position: relative;
  top: 0;
  display: none !important;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  background: #d9534f;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.parsley-form .form-group .parsley-errors-list::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #d9534f;
  position: absolute;
  top: -6px;
  left: 3px;
}
.parsley-form .form-group .parsley-errors-list.filled {
  display: inline-block !important;
  z-index: 999;
}
.parsley-form.form-horizontal .form-group span.error {
  margin-left: 1.5em;
  margin-left: 15px;
}

/* ************************************************
                  Payment details
   ********************************************** */

.payment-details {
  margin-top: 20px;
}
.payment-details .row {
    margin: 0;
}
@media (min-width: 768px) {
  .payment-details .form-group.month,
  .payment-details .form-group.year {
    margin-right: auto;
  }
}


/* ************************************************
                      Modals
   ********************************************** */
   
.modal-backdrop {
  background-color: #ffffff;
}
.modal-backdrop.in {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.lt-ie9 .modal-content {
  border-color: #ccc;
}
.modal-styled .modal-header {
  color: #ffffff;
  background-color: #2b3d4c;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.modal-styled .modal-header > i {
  margin-right: 10px;
  font-size: 28px;
}
.modal-styled .modal-header .close {
  color: white;
  background-color: transparent;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.modal-styled .modal-header .close:hover {
  color: #ffffff;
  background-color: transparent;
}
.modal-styled .modal-title {
  font-weight: 300;
  display: inline-block;
}
.modal-styled .modal-content {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.modal-styled .modal-footer {
  color: #FFF;
  background-color: #fff;
  border-top-color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.modal-styled.error .modal-header {
  background-color: #f05959;
}
.modal-styled.error .modal-header .close:hover {
  color: #9a1205;
}
.modal-styled.info .modal-header {
    background-color: #1c71b9;
}
.modal-styled.info .modal-header .close:hover {
    color: #002277;
}
.modal-styled.warning .modal-header {
    background-color: #da9c31;
}
.modal-styled.warning .modal-header .close:hover {
    color: #774f0c;
}


/* **************************************************** */
/*                        Misc                          */
/* **************************************************** */


.terms-of-service,
.privacy-policy {
    width: 700px;
}
@media (max-width: 768px) {
    .terms-of-service,
    .privacy-policy {
        width: 100%;
    }
}

/* HORIZONTAL LOADER */

.hloader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.hloader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

/* BUTTON LOADER */

.btn *:not(.loading) {
  display: inline-block !important;
}
.btn .loading {
  display: none !important;
}
.btn.busy *:not(.loading) {
  display: none !important;
}
.btn.busy .loading {
  display: inline-block !important;
}

/* RADIO GROUPS */

.radiogroup ul {
  list-style: none;
  padding: 5px 0 0 0;
}
.radiogroup label {
    position: relative;
    margin-left: 7px;
    top: -2px;
    color: #666;
    text-transform: none;
    font-size: 100%;
}

/* HEADINGS */

.heading-block-style {
    width: 100%;
    min-width: 100%;
    padding:  7px 0;
    margin-bottom: 3em;
}
.heading-block-style * {
    font-size: 130%;
}
.heading-block-style > i {
    display: inline-block;
    margin-right: 8px;
}
.heading-block-style.underlined > i {
    background-color: #b3b3b3;
    padding: 5px;
    width: 25px;
    height: 24px;
    text-align: center;
    border-radius: 20px;
    color: #f5f5f5;
    font-size: 100%;
    top: -2px;
    position: relative;
}
.heading-block-style > h5 {
    display: inline-block;
    margin: 0;
}
.heading-block-style.outlined {
    color: #8d8d8d;
    border-top: 1px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    background-color: #f2f2f2;
    margin-bottom: 1em;
}
.heading-block-style.underlined {
    color: #9f9f9f;
    border-bottom: 2px solid #d8d8d8;
}
.heading-block-style.full {
    color: #f9f9f9;
    background-color: #b7b7b7;
}
.heading-block-style.full.blue {
    background-color: #50718d;
}

/* OVERRIDES */

.input-group-addon {
  background-color: #f5f5f5;
  color: #c0c0c0;
  font-size: 115%;
}
.input-group .form-control {
  padding-left: 10px;
}

