
/* **************************************************** */
/*                    Providers list                    */
/* **************************************************** */

.task-view > .user-list-view {
    display: block;
}
.task-view.task-open > .user-list-view,
.task-view.task-loading > .user-list-view {
    display: none;
}
.task-view > .user-details-view,
.task-view.task-loading > .user-details-view {
    display: none;
}
.task-view.task-open > .user-details-view {
    display: block;
}

/* **************************************************** */
/*                  User details view                  */
/* **************************************************** */

.task-view > .user-details-view .avatar img {
	width: 100px;
	height : 100px;
}

